{% extends "base.html" %}

{% block title %}Simulation{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 map-section">
                <div class="card card-map">
                    <div class="map-container" id="map"></div>
                </div>
            </div>
    
            <div class="col-md-3 graph-section">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header bg-info text-light">Funk Factor</div>
                            <div class="card-body">
                                <canvas id="line-chart" height="150"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="card">
                            <div class="card-header bg-warning text-light">Crowded and Clouded</div>
                            <div class="card-body">
                                <canvas id="bar-chart" height="150"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-md-2 list-section">
                <div class="card mb-3">
                    <div class="card-header bg-success text-light">The BO Brigade</div>
                    <ul class="list-group" id="bo-brigade"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
<script>
   document.addEventListener('DOMContentLoaded', function () {
    const MAPTILER_KEY = "{{ maptiler_key }}";
    const students = {};

    function interpolateColor(color1, color2, factor) {
        if (arguments.length < 3) { factor = 0.5; }
        const result = color1.slice();
        for (let i = 0; i < 3; i++) {
            result[i] = Math.round(result[i] + factor * (color2[i] - result[i]));
        }
        return result;
    }

    function hexToRgb(hex) {
        const bigint = parseInt(hex.slice(1), 16);
        return [(bigint >> 16) & 255, (bigint >> 8) & 255, bigint & 255];
    }

    function rgbToHex(rgb) {
        return `#${rgb.map(x => x.toString(16).padStart(2, '0')).join('')}`;
    }

    function getStinkColor(stinkLevel) {
        const color1 = hexToRgb('#4ccbf5'); 
        const color2 = hexToRgb('#006400');  
        const interpolatedColor = interpolateColor(color1, color2, stinkLevel);
        return rgbToHex(interpolatedColor);
    }

    const map = new maplibregl.Map({
        container: 'map',
        style: `https://api.maptiler.com/maps/basic-v2/style.json?key=${MAPTILER_KEY}`,
        center: [-4.290885, 55.872706],
        zoom: 16.5,
        pitch: 50,
        bearing: 0,
        antialias: false
    });

    map.on('load', function () {
        map.addSource('openmaptiles', { type: 'vector', url: `https://api.maptiler.com/tiles/v3/tiles.json?key=${MAPTILER_KEY}` });
        map.addLayer({
            'id': '3d-buildings',
            'source': 'openmaptiles',
            'source-layer': 'building',
            'type': 'fill-extrusion',
            'minzoom': 15,
            'paint': {
                'fill-extrusion-color': ['interpolate', ['linear'], ['get', 'render_height'], 0, 'lightgray', 200, 'royalblue', 400, 'lightblue'],
                'fill-extrusion-height': ['interpolate', ['linear'], ['zoom'], 15, 0, 16, ['get', 'render_height']],
                'fill-extrusion-opacity': 0.6
            }
        });
    });

    const ctx = document.getElementById('line-chart').getContext('2d');
    const buildingStinkLevelGraph = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [],  
            datasets: []  
        },
        options: {
            responsive: true,
            scales: {
                x: { beginAtZero: true, title: { display: true, text: 'Time (minutes)' } },
                y: { beginAtZero: true, min: 0.0, max: 0.1, title: { display: true, text: 'Stink Level' } }
            }
        }
    });

    const barCtx = document.getElementById('bar-chart').getContext('2d');
    const buildingFullnessBarChart = new Chart(barCtx, {
        type: 'bar',
        data: {
            labels: [],
            datasets: [{
                label: 'Building Fullness',
                data: [],
                backgroundColor: ['#FF0000', '#0000FF', '#00FF00', '#FFFF00', '#FFA500', '#800080'],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: { title: { display: true, text: 'Buildings' }, ticks: {autoskip: true} },
                y: {
                    beginAtZero: true,
                    min: 0.0,      
                    max: 1.0, 
                    title: { display: true, text: 'Fullness' }
                }
            }
        }
    });

    const socket = io();
    socket.on('new_student', data => addHtmlPointToMap(data.student_id, data.lat, data.lng, data.name, data.stinkLevel, data.poi, data.time_studied));
    socket.on('update_student', data => updateHtmlPointOnMap(data.student_id, data.lat, data.lng, data.stinkLevel, data.poi, data.time_studied));
    socket.on('update_building', data => updateBuilding(data.building_id, data.buildingName, data.lat, data.lng, data.stinkLevel, data.capacity, data.tick, data.fullness));

    function addHtmlPointToMap(studentId, lat, lng, name, stinkLevel, poi, time_studied) 
    {
        if (!students[studentId])
        {
            const point = document.createElement('div');
            point.className = 'map-point';
            point.style.width = '20px';
            point.style.height = '20px';
            point.style.borderRadius = '50%';
            point.style.backgroundColor = getStinkColor(stinkLevel); 

            const pointMarker = new maplibregl.Marker({ element: point, anchor: 'center' }).setLngLat([lng, lat]).addTo(map);
        
            let labelMarker = null;
            if (poi) 
            {
                const label = document.createElement('div');
                label.className = 'map-label';
                label.innerText = `${name}`;
        
                labelMarker = new maplibregl.Marker({ element: label, anchor: 'top', offset: [0, 5] }).setLngLat([lng, lat]).addTo(map);
            }
            
            students[studentId] = { lat, lng, name, stinkLevel, pointMarker, labelMarker, poi, time_studied};
        }

        updateBOBrigade();
    }

    function updateHtmlPointOnMap(studentId, lat, lng, stinkLevel, poi, time_studied)
    {
        if (students[studentId])
        {
            students[studentId].pointMarker.setLngLat([lng, lat]);
            const point = students[studentId].pointMarker.getElement();
            point.style.backgroundColor = getStinkColor(stinkLevel); 
            
            if (students[studentId].labelMarker)
            {
                students[studentId].labelMarker.setLngLat([lng, lat]);
            } 
            else if (poi && !students[studentId].labelMarker) 
            {
                const label = document.createElement('div');
                label.className = 'map-label';
                label.innerText = `${students[studentId].name}`;
            
                students[studentId].labelMarker = new maplibregl.Marker({ element: label, anchor: 'top', offset: [0, 5] }).setLngLat([lng, lat]).addTo(map);
            }
            
            students[studentId].stinkLevel = stinkLevel;
            students[studentId].poi = poi;
            students[studentId].time_studied = time_studied;
            updateBOBrigade();
        }
    }

    function updateBOBrigade() 
    {
        const listElement = document.getElementById('bo-brigade');
        listElement.innerHTML = '';

        const sortedStudents = Object.values(students).sort((a, b) => b.stinkLevel - a.stinkLevel).slice(0, 10);
        sortedStudents.forEach((student, index) => 
        {
            const listItem = document.createElement('li');
            listItem.className = 'list-group-item d-flex justify-content-between align-items-center';
            listItem.textContent = `${index + 1}. ${student.name}`;
        
            const badge = document.createElement('span');
            badge.className = 'badge badge-primary badge-pill';
            badge.textContent = Math.round(student.stinkLevel*100) + "% Stinky";

            const hours = document.createElement('span');
            hours.className = 'badge badge-primary badge-pill';
            hours.textContent = Math.round((student.time_studied/1200)*480) + "% Study"; 
        
            listItem.appendChild(badge);
            listItem.appendChild(hours)
            listElement.appendChild(listItem);
        });
    }

    function updateBuilding(buildingId, buildingName, lat, lng, stinkLevel, capacity, tick, fullness) {
        console.log(`Updating building: ${buildingId}, Tick: ${tick}, StinkLevel: ${stinkLevel}`);
        updateGraphWithBuildingData(buildingId, buildingName, tick, stinkLevel);
        updateBarChartWithBuildingData(buildingId, buildingName, fullness);
    }

    function updateGraphWithBuildingData(buildingId, buildingName, tick, stinkLevel) {
        const buildingColours = ['#FF0000', '#0000FF', '#00FF00', '#FFFF00', '#FFA500', '#800080'];
        const colour = buildingColours[buildingId];

        let dataset = buildingStinkLevelGraph.data.datasets.find(dataset => dataset.label === buildingName);

        if (dataset) {
            dataset.data.push({ x: tick, y: stinkLevel });
        } else {
            buildingStinkLevelGraph.data.datasets.push({
                label: buildingName,
                data: [{ x: tick, y: stinkLevel }],
                borderColor: colour,
                fill: false,
                borderWidth: 2
            });
        }

        buildingStinkLevelGraph.update();
    }

    function updateBarChartWithBuildingData(buildingId, buildingName, fullness) {
        let index = buildingFullnessBarChart.data.labels.indexOf(buildingName);

        if (index === -1) {
            buildingFullnessBarChart.data.labels.push(buildingName);
            buildingFullnessBarChart.data.datasets[0].data.push(fullness);
        } else {
            buildingFullnessBarChart.data.datasets[0].data[index] = fullness;
        }

        buildingFullnessBarChart.update();
    }

});
</script>
{% endblock %}
